[submodule "ShopNote/jquery-base64"]
	path = ShopNote/jquery-base64
	url = https://github.com/carlo/jquery-base64.git
[submodule "ShopNote/simplenote-js"]
	path = ShopNote/simplenote-js
	url = git@github.com:sebastiangeiger/simplenote-js.git
